@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

html{
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    width:100%;
    height:100%;
    background: #d84800;
    box-shadow: inset 0 0 80px black;
    overflow: hidden;
}

body{
    overflow:hidden;
}
#title{
    text-align: center;
    font-size: 2rem;
    color:white;
    margin: 20px;
    font-family: 'Dancing Script', cursive;
}

#calculator-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    height:500px;
    width:400px;
    border-radius: 15px;
    border: 3px solid white;
    background:#2B2D2F;
    overflow: hidden;
    
}

#display{
    display:flex;
    flex-direction: column;
    width: 360px;
    height: 80px;
    margin: 10px 20px;
    background-color: black;
    border:2px solid white;
    
    
}

.display {
    display: flex;
    align-items: center; 
    justify-content: flex-end;   
    color:white;
    margin: 0px 10px;
    overflow:hidden;
}

#operation{
    height:30px;
    width:auto; 
    font-size: 1.3rem;
}

#result{
    height:50px;
    width:auto;
    font-size: 1.6rem;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    width:80px;
    margin: 20px 10px;
    border-radius: 15px;
    font-size: 1.3rem;
    font-weight: bold;
    padding:0;
    border:none;
    background:black;
    color:white;
    border:2px solid white;
}

button:hover{
    background:#f0a848;
}

button:active{
    background-color: #f07800;
    transform: translateY(4px);
}

#emptySpot{
    height:40px;
    width:160px;
    margin: 20px 20px;
}

.red{
    background-color: rgb(180, 0, 0);
}